.image-section img,
.cosmetics-section img {
  min-width: 33%;
  height: 620px;
  margin: 0;
  border: 2px solid #c7b9b4;
}
.image-section,
.cosmetics-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.items-section,
.lips-section {
  font-family: "Courier New", Courier, monospace;
  margin-top: 0;
  padding-bottom: 40px;
  height: 700px;
  background-color: beige;
}
.items-section-label,
.lips-section-label {
  text-align: center;
}
.items-section-label h3,
.lips-section-label h3 {
  margin-top: 0;
}
.items-section-label h2,
.lips-section-label h2 {
  margin-top: 0;
  padding-top: 100px;
}
.item-section,
.lip-section {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 50px;
}
.item-section img,
.lip-section img {
  width: 260px;
  height: 350px;
}
.item-section p,
.lip-section p {
  text-align: center;
}
/* .cosmetics-section img {
  width: 33%;
  height: 620px;
  border: 2px solid #ecd4cc;
} */
