.header-container {
  display: flex;
  width: 100%;
  height: 70px;
  background-color: #748871;
  justify-content: row;
}
.logo-image {
  width: 20%;
}
.logo-image h1 {
  font-family: "Courier New", Courier, monospace;
  color: white;
  display: block;
  margin-top: 15px;
}

.left-section,
.right-section {
  width: 40%;
}

.left-section li,
.right-section li {
  font-family: "Courier New", Courier, monospace;
  color: rgb(221, 220, 218);
  font-size: 18px;
  display: inline-block;
  text-align: center;
  /* justify-content: space-between; */
  grid-gap: 50px;
  margin-top: 8px;
}
.right-section li {
  margin-left: 30px;
}
#brands,
#shops,
#perfume,
#care {
  padding-left: 40px;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: antiquewhite;
}
